{% load static %}

<div class="leaderboard-header" style="text-align: center; margin-bottom: 25px;">
    <h4 class="minted-nft-title" style="font-size: 2rem; font-weight: bold; color: #1781c3;">Leaderboard</h4>
</div>

<table style="width: 100%; max-width: 1050px; border-collapse: collapse; font-family: Arial, sans-serif; margin: 0 auto;">
    <thead>
        <tr>
            <th style="background-color: #1781c3; color: white; padding: 10px;">Rank</th>
            <th style="background-color: #1781c3; color: white; padding: 10px;">Profile Image</th>
            <th style="background-color: #1781c3; color: white; padding: 10px;">Full Name</th>
            <th style="background-color: #1781c3; color: white; padding: 10px;">Username</th>
            <th style="background-color: #1781c3; color: white; padding: 10px;">Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for user, balance in leaderboard %}
            <tr>
                <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;"><strong style="font-style: italic; font-size: 1.2em; font-weight: bold;">#{{ forloop.counter }}</strong></td>
                <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;"><img src="https://gateway.ipfs.io/ipfs/{{ user.nft.image_ipfs_uri }}" alt="Minted NFT Image" style="border-radius: 50%; width: 100px; height: 100px;"></td>
                <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">{{ user.personal_profile.full_name }}</td>
                <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;"><a href="{% url 'user_profile' username=user.username %}" style="color: #1781c3; text-decoration: none;">{{ user.username }}</a></td>
                <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">${{ symbol }} : {{ balance }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
