{% load static %}


<div class="container mb-5">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div id="contact_card_stable">
                <div class="card smartphone-card" style="background: linear-gradient(145deg, #f8f9fb, #dfe2e6); box-shadow: 6px 6px 12px #b8b9bb, -6px -6px 12px #ffffff;">
                    <div class="card-body" style="padding: 20px;">
                        <div class="contact-card" style="position: relative; width: 320px; padding: 5px 15px 5px 15px; border-radius: 10px; margin: 0 auto; text-align: center;">

                            <!-- NFT Image -->
                            <div style="position: relative;">
                                <img src="https://gateway.ipfs.io/ipfs/{{ request.user.nft.image_ipfs_uri }}" alt="Minted NFT Image" style="width: 100%; height: auto; object-fit: cover; border-radius: 5px; border: none; display: block; margin-left: auto; margin-right: auto; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
                                <div style="position: absolute; bottom: 0; width: 100%; text-align: center; background-color: rgba(255,255,255,0.8); padding: 6px 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; font-size: 14px; color: #444;">
                                    Blockchain and AI/ML Verified Identity
                                </div>
                            </div>

                            <!-- Full Name -->
                            <div class="contact-info" style="padding-top: 15px;">
                                <span class="full-name" style="font-size: 30px; display: block; font-weight: bold; font-family: Arial, sans-serif;">{{ request.user.personal_profile.full_name }}</span>
                            </div>

                            <!-- Company Logo and Name -->
                            <div style="display: flex; align-items: center; justify-content: center; font-family: Arial, sans-serif; padding: 15px 0;">
                                <img src="{% static 'users/images/sbev_logo.png' %}" alt="SBEV Logo" style="width: 150px; height: 90px; border-radius: 50%; margin-right: 10px;">
                                <span style="font-weight: 700; font-size: 26px;">{{ request.user.company_profile.comp }}</span>
                            </div>
                        </div>
                        <img src="{% url 'display_qr_code' %}" alt="Contact Info QR Code" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;">
                    </div>
                </div>
            </div>
            
            <button class="save-image-btn-pttgh" onclick="dl_card()">
                Save as Image
            
            </button>
        </div>
        
        <div class="col-md-6">
            <!-- Add your content for the right column here -->
            <div>
                <div class="instruction-section bg-light-yellow mb-5 p-3 rounded">
                    <h4 class="mb-3">How to Use Your Digital Contact Card</h4>
                    <p><strong>Networking Made Easy:</strong> Each card includes a unique QR code for quick contact sharing at networking events, workshops, or within the school community.</p>
                    <p><strong>Present to Earn:</strong> Show your card to your instructor during class or activities to earn 1 $SBVLT token for engagement and participation.</p>
                    <p><strong>Convenient and Accessible:</strong> Display your Digital Contact Card on any mobile or web-enabled device for easy scanning and sharing.</p>
                    <p><strong>Download and Keep:</strong> Click the "Save as Image" button to download and store your card for offline use or backup.</p>
                    <h6>Use your Digital Contact Card for both networking and earning digital rewards seamlessly.</h6>
                </div>
                
            </div>
        </div>

    </div>
</div>


<script>
    function dl_card() {
            let div =
                document.getElementById('contact_card_stable');
           
            html2canvas(div).then(
                function (canvas) {
                    var link = document.createElement('a');
                    link.href = canvas.toDataURL();
                    link.download = 'screenshot.png';
                    link.click();
                })
        }
</script>

