{% extends "users/base.html" %}

{% load static %}

{% block title %} Sylvester Broome Empowerment Village {% endblock title%}

{% block content %}
<section class="mb-2 gradient-con">
  <div class="container">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-6">
        <img src="{% static 'users/images/sbev_logo.png' %}" alt="Header Image" class="img-fluid">
      </div>
      <div class="col-md-6 text-container-sbev">
        <h1 class="header-sbev">SBEV: WEB3 LMeX</h1>
        <p class="subtext-learning">Learning Management Experience</p>
      </div>
    </div>
  </div>
</section>

<section id="buttons" class="mt-2" style="margin-bottom: 40px;">
  <div class="container">
    <div class="row justify-content-center align-items-center">
 
<div class="col-md-6 btn-column d-flex flex-column align-items-center">
        <h5 class="header-text-ty text-center">New Here?</h5>  
        <div class="btn-container">
          <a href="{% url 'users-register' %}" class="btn btn-home h3">Create Student Account</a>
        </div>
      </div>

  <div class="col-md-6 btn-column d-flex flex-column align-items-center">
        <h5 class="header-text-ty text-center">Returning?</h5>
        <div class="btn-container">
          {% if user.is_authenticated %}
          <a href="{% url 'profile_home' %}" class="btn btn-home h3">LogIn with Username</a>
          <a href="{% url 'profile_home' %}" class="btn btn-home h3 mt-2">LogIn with Facial Recognition</a>
          
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-home h3">LogIn with Username</a>
          <a href="{% url 'face_login' %}" class="btn btn-home h3 mt-2">LogIn with Facial Recognition</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
