{% extends "users/base_side_nav.html" %}

{% load static %}

{% block title %}NFT Smart Contract {% endblock title %}

{% block main_content %}


<div class="container mt-2">
    
    
    <div class="row bgc-container-background">

        <!-- Logo Column -->
        <div class="col-md-2">

            <div class="bgc-logo-wrapper">
                <img src="{% static 'users/images/sbev_logo.png' %}" class="img-fluid" alt="SBEV Logo">

            </div>
        </div>

        <div class="col-md-10">
            <div class="bgc-header-container">
                <h2 class="bgc-contract-nft-title">{{ contract_name }}</h2>
                <div class="bgc-goerli-container">
                    <span class="bgc-goerli-icon"><img src="https://gateway.ipfs.io/ipfs/bafybeigzgztdmt3qdt52wuhyrrvpqp5qt4t2uja23wmfhsccqt332ek7da/ethereum/512.png" alt="Goerli Symbol"></span>
                    <span class="bgc-goerli-text">Goerli</span>
                </div>
            </div>
            <div class="bgc-contract-description">
                <p>Welcome to the future of digital academic recognition! In the innovative spirit of the Sylvester Broome Empowerment Village, this NFT represents the next level in celebrating student identity and accomplishments.</p>
                
                <p>Each distinctive NFT minted under this contract is a testament to the digital identity of its holder—a promising individual from the community, taking their first steps in the expansive universe of Web3. These NFTs are not just digital tokens; they're dynamic symbols of achievement. As students excel academically, reach milestones, and display their skills, their NFTs mature, accruing special ERC-20 tokens that represent their distinguished achievements.</p>
                
                <p>Our vision is to offer more than just acknowledgment. The ERC-20 tokens awarded provide tangible value, enabling students to explore the vast opportunities within the decentralized ecosystem. Merging the core values of traditional education with the groundbreaking potential of blockchain, the Sylvester Broome Empowerment Village isn't merely preparing students for the digital future—we're giving them the tools to sculpt it.</p>
            </div>
            
            <div class="bgc-links-container">
                <span class="bgc-contract-address" id="contractAddress" onclick="copyToClipboard()">0xC8CAeb871Fcf0aa66721bCBeC6805C7C74De556C</span>
                <a href="https://goerli.etherscan.io/address/0xC8CAeb871Fcf0aa66721bCBeC6805C7C74De556C" target="_blank" class="bgc-contract-link">Contract Etherscan</a>
                <a href="https://eth-goerli.blockscout.com/address/0xC8CAeb871Fcf0aa66721bCBeC6805C7C74De556C" target="_blank" class="bgc-contract-link">Contract Blockscout</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
    <h4 class="minted-nft-title"> Minted NFTs</h4>
    <div class="unique-nft-cards-container">
        {% for nft in nft_objects %}
        {% if nft.user != request.user %}
            <div class="unique-nft-card">
                
                    <div class="unique-nft-image-container">
                        <a href="{% url 'user_profile' username=nft.user.username  %}"> <img src="https://gateway.ipfs.io/ipfs/{{ nft.image_ipfs_uri }}" alt="Minted NFT Image"></a>
                    </div>
        
                    <div class="unique-nft-details">
                        <p><strong>Name:</strong> {{ nft.name }}</p>
                        <p><strong>Description:</strong> {{ nft.description }}</p>
                        <p><strong>IPFS Hash:</strong> {{ nft.image_ipfs_uri }}</p>
                        <p><strong>Wallet Address:</strong> {{ nft.user.wallet.wallet_address }}</p>
                        <p><strong>Token ID:</strong> {{ nft.token_id }}</p>
                        <p><strong>Etherscan Link:</strong> <a href="https://goerli.etherscan.io/token/{{ nft.contract_address }}?a={{ nft.token_id }}">Etherscan</a></p>
                        <p><strong>Opensea Link:</strong> <a href="https://testnets.opensea.io/assets/goerli/{{ nft.contract_address }}/{{ nft.token_id }}">Opensea</a></p>
                    </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>
    
    <div class="container mt-5">
        <h4 class="minted-nft-title">Transfer Events</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Token ID</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                <tr>
                    <td>{{ transfer.from }}</td>
                    <td>{{ transfer.to }}</td>
                    <td>{{ transfer.token_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script>

    function copyToClipboard() {
        const textArea = document.createElement('textarea');
        textArea.value = document.getElementById('contractAddress').innerText;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);
        alert('Contract address copied to clipboard!');
    }

</script>

{% endblock %}
